.txt-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

html,
body {
  background-color: #f7f9fc;
  height: 100%;
}

img {
  vertical-align: bottom;
}

#app {
  position: relative;
  max-width: 1320px;
  width: 90%;
  margin: 0 auto;
  background-color: white;
  min-height: 100vh;
}

.header {
  position: sticky;
  top: 0;
  z-index: 150;
  height: 80px;
  border-bottom: 2px solid #e9ecef;
  background-color: white;
}

.header .logo {
  width: 120px;
}

.header .logo img {
  width: 100%;
}

.header-inner {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 32px;
}

.header-menu {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 27px;
}

.hd-btn {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.hd-btn .icon {
  vertical-align: bottom;
  width: 33px;
  height: 33px;
}

.hd-mypage-btn {
  font-size: 11px;
  gap: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.sidebar-wrapper {
  position: fixed;
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 90%;
  z-index: 150;
}

.sidebar {
  position: absolute;
  top: 0;
  height: calc(100vh - 80px);
  z-index: 100;
  max-width: 260px;
  width: 100%;
  border-right: 2px solid #e9ecef;
}

.sidebar-inner {
  padding: 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  gap: 25px;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 25px;
}

.mini-thumnail {
  width: 35px;
  height: 35px;
  overflow: hidden;
  border-radius: 50%;
  background-color: #efefef;
}

.mini-thumnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sidebar-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  font-size: 25px;
  font-weight: 500;
  width: 100%;
  border: 0;
  background-color: transparent;
  border-radius: 10px;
  padding: 17px 12px;
  cursor: pointer;
}

.sidebar-btn .icon {
  width: 32px;
  height: 32px;
}

.sidebar-btn:hover {
  background-color: #efefef;
}

.sidebar-btn:active {
  background-color: #d5d5d5;
}

.page-wrapper {
  z-index: 100;
  position: relative;
  padding-left: 260px;
}

.profile-top {
  border-bottom: 2px solid #e9ecef;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}

.profile-top-left {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  padding: 35px 50px;
}

.profile-top-left .profile-info {
  padding: 0 16px;
}

.thumbnail {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: #e9ecef;
  flex-shrink: 0;
  overflow: hidden;
  cursor: pointer;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  gap: 17px;
  height: 100%;
}

.profile-info .name {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  margin-bottom: 5px;
}

.profile-info .name h2 {
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
}

.info01 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
}

.info01 dl {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3px;
  font-size: 14px;
}

.info01 dt {
  font-weight: 500;
}

.info01 dd {
  font-weight: 600;
}

.info02 {
  font-size: 15px;
  font-weight: 500;
}

.btn-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 7px;
}

.profile-top-right {
  width: 100%;
  max-width: 260px;
  border-left: 2px solid #e9ecef;
  padding: 20px 16px;
}

.info03 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: flex-start;
  justify-content: center;
  gap: 9px;
}

.info03 dl {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: 14px;
}

.info03 dl dt {
  width: 70px;
  padding-right: 10px;
  font-weight: 600;
}

.info03 dl dd {
  font-weight: 500;
}

.btn {
  border-radius: 6px;
  border: 0;
  font-size: 14px;
  font-weight: 500;
  padding: 7px 15px;
  cursor: pointer;
}

.gray-btn {
  background-color: #efefef;
}

.gray-btn:hover {
  background-color: #dedede;
}

.gray-btn:active {
  background-color: #d5d5d5;
}

.blue-btn {
  background-color: #6fbaf8;
  color: white;
}

.blue-btn.txt-btn {
  color: #6fbaf8;
  background-color: transparent;
  padding: 0;
}

.blue-btn:hover {
  background-color: #5fb6fe;
}

.blue-btn.txt-btn:hover {
  color: #5fb6fe;
  background-color: transparent;
}

.blue-btn:active {
  background-color: #54b1fe;
}

.blue-btn.txt-btn:active {
  color: #54b1fe;
  background-color: transparent;
}

.profile-bottom {
  padding: 16px;
}

.profile-bottom .btn-wrap {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
}

.grid-wrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 5px;
  flex-wrap: wrap;
}

.grid {
  width: calc((100% - 15px) / 4);
}

.feed-item-card {
  padding-top: 130%;
  position: relative;
  cursor: pointer;
}

.feed-item-card .thumbnail-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.feed-item-card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s;
}

.feed-item-card .overlay-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  font-size: 14px;
  font-weight: 500;
}

.feed-item-card .overlay-content dl {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}

.icon-heart-txt .icon {
  width: 22px;
  position: relative;
  top: 2px;
}

.icon-msg-txt .icon {
  width: 22px;
  position: relative;
  top: 2px;
}

.feed-item-card:hover .overlay {
  opacity: 1;
}